* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
body{
    padding:0;
    margin:0;
}
nav{
    height:70px;
    align-items: center;
    padding:20px;

}
div {
    display: block;
}
nav>div{
    float:left;
}
nav a{
    color:#39364f;
}
.logo{
    width:10%;
    float:left;
}
.search{
    width:3%;
    float:left;
}
.search_events{
    width:72%;
    float:left;
}
.help{
    float: left;
    padding-top: 5px;
    padding-right: 40px;
    font-size: 14px;
}
.help svg{
    width:24px;
}
.log-in{
    padding-top: 5px;
    padding-right: 40px;
    font-size: 14px;
}
.sign-up{
    padding-top: 5px;
    font-size: 14px;
}
.nav-right{
    width:35%;
    float:left;
}
.top-nav{
    margin-left: 50px;
}
.head_banner{
    height:550px;
    background-image: url("image/header.jpg");
    background-repeat: no-repeat;
}
.dropdown-content {
    z-index: 10;
    text-align: left;
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    background-color: white;
}

.dropdown-content a {
    margin-left: 10px;
    padding: 15px;
    line-height: 35px;

}

.nav-dropdown:hover .dropdown-content {
    border: #39364f;
    display: block;
    z-index: 100;
    width: 300px;
}

.dropdown-content a {
    z-index: 1;
    display: block;
    color: var(--eds-ui-800, #39364f);
    padding: 5px;
    text-decoration: none;
}

.dropdown-content a:hover {
    color: #6f7287;
    background-color: #fff;
}
.fa-solid{
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
}
.fa-chevron-down:before {
    content: "\f078";
}
i {
    font-style: italic;
    margin: 0 auto;
}
.fa-solid{
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: var(--fa-display,inline-block);
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    text-rendering: auto;
}
a{
    text-decoration: none;
}
.container>div{
    height: auto;
}
.left{
    
    width:20%;
    float:left;
    background-color: #f8f7fade;
}
.center{
height: fit-content;
    max-width: 800px;
    width:45%;
   
    float:left;
}
.right{
    width:32%;
    
    float: left;
}
.block{
    border-bottom:1px solid rgba(128, 128, 128, 0.232);
    margin-left: 20px;
}
.block>div{
    height: 40px;
    margin-bottom: 40px;
    font-size: 14px;
}
.part>div{
    float: left;
}

.part-style p {
    color: var(--eds-ui-800,#39364f);
    font-weight: 400;

}
.part>div:nth-child(1){
    
    padding-top:10px;
    width:70%;
}
.part>div:nth-child(2){
    width:16%;
    height:40px;
    margin-top: 10px;
    margin-left: 10px;
    padding-bottom:10px;
    background-color: #eeedf2;
    box-shadow: 4px 0px grey;
    border-radius:2px;
}
.part1>div{
    
    float: left;
    
}
.part1>div:nth-child(1){
    margin-top: 18px;
    padding-top:10px;
    width:70%;
    
}
.part1>div:nth-child(2){
    width:16%;
    height:40px;
    margin-top: 25px;
    margin-left: 15px;
    padding-bottom:10px;
    border-radius:2px;
}
.block svg{
    width:30px;
}
.search-bar{
    
    margin-left: 5px;
    margin-right: 5px;
    height: 65px;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    justify-content: space-between;
    -webkit-box-align: center;
    flex-flow: row nowrap;
    -webkit-box-pack: justify;
    align-items: center;
    max-width: 800px;
    overflow: visible;
    margin-bottom: -8px;
    border-bottom: 1.5px solid rgb(197, 193, 193);
}

.h3_alignment_search {
    vertical-align: middle;
    align-items: center;
}
.h3_search_bar h3 {
   padding-top: 7px;
    color: #6f7287;
}
.search_bar_left {
    vertical-align: middle;
    align-items: center;
    
    position: relative;
    width: 100%;
    
}

.search_buttom {
    background-color: transparent;
    border-color: var(--eds-ui-500,#a9a8b3);
    transform: translateZ(0);
    position: relative;
    height: 44px;
    padding: 0 30px 1px;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    line-height: 24px;
    font-weight: 600;
    letter-spacing: .2px;
    border: 2px solid var(--eds-ui-500,#a9a8b3);
    border-radius: 4px;
    cursor: pointer;
}


/* event container css start  */

.events_container_widght {
    width: 100%;
    margin-top: 20px;
}

article {
    padding: 12px;
    padding-top: 20px;
}

.event_card_list {
    display: inline-flex;
    position: relative;
    display: flex;
    margin: 0 16px;
    border-radius: 4px;
    background-color: transparent;

}

.event_card_list:hover {

    background-color: white;
    
    box-shadow: 2px 5px rgba(109, 108, 108, 0.23);
    transition: box-shadow .24s cubic-bezier(.4, 0, .3, 1), background-color .24s cubic-bezier(.4, 0, .3, 1), -webkit-box-shadow .24s cubic-bezier(.4, 0, .3, 1);

}

.event_card_content {
    
    position: relative;
    padding-right: 16px;
    padding-bottom: 12px;
    width: 100%;
}

.remove_style a {
    text-decoration: none;
    font-weight: 600;
    color: var(--eds-ui-800, var(--eds-ui-800, #39364f));
}

.event_card_title_sub {
    display: flex;
    top: 0;

}

.event_card_title a {
    display: block;
    outline: none;
    width: 100%;
    
}

.event_card_sub_title a {
    color: #f05537;
    font-size: .875rem;
    line-height: 1.25rem;
    
}

h3 {
    margin-block-start: 1em;
    margin-block-end: 1em;
    font-size: 1.125rem;
    line-height: 1.5rem;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    display: block;
    margin-top: 0;
}

.event_card_location_price {
    display: flex;
}

.event_card_location_text {
    font-size: .875rem;
    line-height: 1.25rem;
    color: #6f7287;
    margin-top: 4px;
    
}

.event_card_price_text {
    font-size: .875rem;
    line-height: 1.25rem;
    color: #6f7287;
    margin-top: 4px;
}

.image_container_set {
    justify-content: space-between;
    -webkit-box-align: start;
    align-items: flex-start;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    position: relative;
    width: 100%;
    left: 20%;


}

.event_image img {
    content: "";
    width: 220px;
    height: auto;
    top: 0;
    bottom: 0;
    right: 0;

    border: 1px solid var(--eds-ui-300, #dbdae3);
    flex: 0 0 auto;
    display: block;

}

.card_event_icon {


    left: 130px;
    vertical-align: middle;
    padding-top: 8px;
    height: 40px;
    width: 40px;


    color: var(--eds-ui-700, #4b4d63);
    display: flex;
    position: relative;


}

.share_icon {
    padding-right: 8px;
    display: inline-block;
    align-items: flex-end;


}

.share_icon_button {
    width: 20px;

    background: none;
    border: none;
}

i {
    font-style: italic;
    margin: 0 auto;

}

.share_vector {
    vertical-align: middle;
    background-size: contain;
    line-height: 0;

}

.image-section > .heart {
    position: absolute;
    width: 20%;
    height: auto;
    right: -5px;
    bottom: -15%;
}
.heart-empty svg, .heart-full svg{
    width:28px;
}
.heart-empty, .heart-full{
    position: absolute;
    bottom:0;
    margin-bottom: 7px;
    margin-left: 4px;
}
.heart-full{
    display: none;
    animation: popUp;
    animation-duration: 0.5s;
}
@keyframes popUp{
    0%{
        transform: scale(1);
        opacity: 0;
    }
    50%{
        transform: scale(1.2);
}
    100%{
        transform: scale(1);
        opacity: 1;
    }
}

/* event card container end */


.search{
    color:#6f7287;
    float: left;
    margin-bottom: 10px;
}
.part>div:nth-child(2){
    text-align: center;
}
footer{
    background-color:#1e0a3c;
    height:60px;
    clear:both;
}
footer a{
    color:white;
}
footer a:hover{
    color:#3659e3;
    text-decoration: underline #3659e3;
}
.footer-twentyfive{
    width:20%;
    float:left;
    font-size: 15px;
    padding-left: 40px;
    color: white;
}
.footer-eighty{
    width:60%;
    float:left;
    padding-top: 15px;
}
.footer-eighty a{
    font-size: 12px;
}
.footer-eighty a::after {
    content: "●";
    color: #6f7287;
    padding: 0px 10px;
    line-height: 8px;
}
.footer-twenty{
    float:left;
    width:10%;
}
.footer-eighty a:hover{
    text-decoration: none;
}
select{
    background-color:#1e0a3c;
    color:white;
    margin-left: 150px;
    margin-top: 15px;
    border:1px solid #1e0a3c;
}


