* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.block {
    width:1000px;
    height:auto;
    border:1px solid grey;
    margin:0 auto;
}

/* 2 of the big columns */
.head{
    
    text-align: center;
    float:left;
    padding:20px 0px 20px 0px;
    margin-left: 20px;
}

.order-summary{
    
    width: 40%;
    margin-left: 20px;
    margin-right: 15px;
    background-color: whitesmoke;
}

.head p:nth-child(1){
    padding:5px 20px;
    font-size: 20px;
}
.head small{
    color:grey;
    font-size: 15px;
    
}
.left{
    text-align: left;
    padding:8px;
}
.right{
    float:right;
}

.img{
    width: auto;
    margin: 0;
    padding: 0;
}
.img img{
    height: 250px;
}
.cross{
    width:2%;
    float:left;
}
.cross svg{
    padding-top:15px;
    width:30px;
}
.sale{
    width:80%;
    margin: 0 15px;
}

#amount{
    float:right;
    margin-top:40px;
    padding:10px 20px;
}
#country{
    padding: 10px;
    float:right;
}
#submit{
    position: relative;
    margin-top: 30px;
    padding:15px 35px;
    color:white;
    font-size: 18px;
    background-color: orangered;
    border: 1px solid orangered;
    border-radius: 5px;
}
