
/* ah yor  */


/* event container css start  */

.events_container_widght {
    width: 100%;
    margin-top: 20px;
}

article {
    padding: 12px;
    padding-top: 20px;
}

.event_card_list {
    display: inline-flex;
    position: relative;
    display: flex;
    margin: 0 16px;
    border-radius: 4px;
    background-color: transparent;

}

.event_card_list:hover {

    background-color: white;
    
    box-shadow: 2px 5px rgba(109, 108, 108, 0.23);
    transition: box-shadow .24s cubic-bezier(.4, 0, .3, 1), background-color .24s cubic-bezier(.4, 0, .3, 1), -webkit-box-shadow .24s cubic-bezier(.4, 0, .3, 1);

}

.event_card_content {
    
    position: relative;
    padding-right: 16px;
    padding-bottom: 12px;
    width: 100%;
}

.remove_style a {
    text-decoration: none;
    font-weight: 600;
    color: var(--eds-ui-800, var(--eds-ui-800, #39364f));
}

.event_card_title_sub {
    display: flex;
    top: 0;

}

.event_card_title a {
    display: block;
    outline: none;
    width: 100%;
    
}

.event_card_sub_title a {
    color: #f05537;
    font-size: .875rem;
    line-height: 1.25rem;
    
}

h3 {
    margin-block-start: 1em;
    margin-block-end: 1em;
    font-size: 1.125rem;
    line-height: 1.5rem;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    display: block;
    margin-top: 0;
}

.event_card_location_price {
    display: flex;
}

.event_card_location_text {
    font-size: .875rem;
    line-height: 1.25rem;
    color: #6f7287;
    margin-top: 4px;
    
}

.event_card_price_text {
    font-size: .875rem;
    line-height: 1.25rem;
    color: #6f7287;
    margin-top: 4px;
}

.image_container_set {
    justify-content: space-between;
    -webkit-box-align: start;
    align-items: flex-start;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    position: relative;
    width: 100%;
    left: 20%;


}

.event_image img {
    content: "";
    width: 220px;
    height: auto;
    top: 0;
    bottom: 0;
    right: 0;

    border: 1px solid var(--eds-ui-300, #dbdae3);
    flex: 0 0 auto;
    display: block;

}

.card_event_icon {


    left: 130px;
    vertical-align: middle;
    height: 40px;
    width: 40px;


    color: var(--eds-ui-700, #4b4d63);
    display: flex;
    position: relative;


}

.share_icon {
    padding-right: 8px;
    display: inline-block;
    align-items: flex-end;


}

.share_icon_button{
    background: none;
    border: none;
}
.heart{
    padding-bottom: -20px;
}
i {
    font-style: italic;
    margin: 0 auto;

}

.share_vector {
    vertical-align: middle;
    background-size: contain;
    line-height: 0;

}

.image-section > .heart {
    
    width: 20%;
    height: 18px;
    right: -5px;
    bottom: -15%;
}
.heart-empty svg, .heart-full svg{
    width:28px;
}
.heart-empty, .heart-full{
    position: absolute;
    bottom:0;
    margin-left: 4px;
    margin-bottom: -7px;
}
.heart-empty 
{
    display: block;
}
.heart-full{
    display: none;
    animation: popUp;
    animation-duration: 0.5s;
}
@keyframes popUp{
    0%{
        transform: scale(1);
        opacity: 0;
    }
    50%{
        transform: scale(1.2);
}
    100%{
        transform: scale(1);
        opacity: 1;
    }
}

/* event card container end */


.search{
    color:#6f7287;
    float: left;
    margin-bottom: 10px;
}
.part>div:nth-child(2){
    text-align: center;
}

select{
    background-color:#1e0a3c;
    color:white;
    margin-left: 150px;
    margin-top: 15px;
    border:1px solid #1e0a3c;
}

