

.centersearch{
    height: fit-content;
       
        
          
    }

.containersearch>div{
    height: auto;
}

.search-bar{
    
    margin-left: 5px;
    margin-right: 5px;
    height: 65px;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    justify-content: space-between;
    -webkit-box-align: center;
    flex-flow: row nowrap;
    -webkit-box-pack: justify;
    align-items: center;
    max-width: 800px;
    overflow: visible;
    margin-bottom: -8px;
    border-bottom: 1.5px solid rgb(197, 193, 193);
}

.search_bar_left {
    vertical-align: middle;
    align-items: center;
    
    position: relative;
    width: 100%;
    
}

.h3_search_bar h3 {
    padding-top: 7px;
     color: #6f7287;
 }

 .search_buttom {
    background-color: transparent;
    border-color: var(--eds-ui-500,#a9a8b3);
    transform: translateZ(0);
    position: relative;
    height: 44px;
    padding: 0 30px 1px;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    line-height: 24px;
    font-weight: 600;
    letter-spacing: .2px;
    border: 2px solid var(--eds-ui-500,#a9a8b3);
    border-radius: 4px;
    cursor: pointer;
}
/* ah yor  */



