#background{
    width: 100vw;
    height: 100vh;
    background-color: rgba(57,54,79,.8);
    z-index: 1;
    position: fixed;
    top:0;
    display: none;
    align-items: center;
    justify-content: center;
}

#signup-form{
    padding: 1rem;
    width: 500px;
    height: 200px;
    border: 1px solid black;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    text-align: center;
    font-size: 30x;
    background-color: white;
    position: relative;
    z-index: 2;
}
#signup-text{
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 30px;
}
#signup{
    padding: 0.5rem 1rem;
    color: white;
    background-color: orangered;
    border: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.fa-solid{
    margin-left: 450px;
}